html {
    font-size: 87.5%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    font-family: 'SymphonyLato', Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }
  
  .toasted-container {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #app {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  
  #main {
    background: #f9f9f9;
    color: #5e5e5e;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .dark #main {
    background: #212121;
    color: #cccccc;
  }
  
  #empty {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #offline {
    background: red;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 48px;
    padding: 0 20px;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  
  #topbar {
    z-index: 2000;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.2;
    color: black;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.4;
    color: #5e5e5e;
  }
  
  .dark p {
    color: #cccccc;
  }
  
  #app.dark h1,
  #app.dark h2,
  #app.dark h3,
  #app.dark h4,
  #app.dark h5,
  #app.dark h6 {
    color: white;
  }
  
  a {
    text-decoration: none;
    color: dodgerblue;
    cursor: pointer;
  }
  
  a.small {
    font-size: 80%;
    text-transform: uppercase;
  }
  
  .icon-excel {
    color: #5cb85c;
  }
  
  .icon-pdf {
    color: #d9534f;
  }
  
  #modals {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4000;
  }
  
  #pageModals {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3000;
  }
  
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modal-mask.modal-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .modal-mask.modal-center .modal-container {
    margin: 0;
  }
  
  .modal-mask.modal-flat {
    background-color: transparent;
    pointer-events: none;
  }
  
  .modal-mask.modal-flat .modal-container {
    pointer-events: all;
  }
  
  .modal-mask.modal-full .modal-container {
    height: calc(100vh - 60px);
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px auto;
    border-radius: 2px;
    -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
            box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 80vw;
    background: white;
  }
  
  .dark .modal-container {
    background: #1a1a1a;
  }
  
  @media (min-width: 768px) {
    .modal-container {
      width: 60vw;
    }
  }
  
  @media (min-width: 990px) {
    .modal-container {
      width: 60vw;
    }
  }
  
  .modal-floating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.8);
    width: 300px;
    height: 300px;
    overflow: hidden;
    -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
  }
  
  .dark .modal-floating {
    background: rgba(26, 26, 26, 0.8);
    -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.4), 0px 12px 17px 2px rgba(0, 0, 0, 0.28), 0px 5px 22px 4px rgba(0, 0, 0, 0.24) !important;
            box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.4), 0px 12px 17px 2px rgba(0, 0, 0, 0.28), 0px 5px 22px 4px rgba(0, 0, 0, 0.24) !important;
  }
  
  .modal-floating .modal-header {
    cursor: move;
  }
  
  .modal-floating.resizing, .modal-floating.dragging {
    -webkit-transition: none;
    transition: none;
  }
  
  .modal-floating.active {
    background: white;
    -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
  }
  
  .dark .modal-floating.active {
    background: #1a1a1a;
    -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.4), 0px 24px 38px 3px rgba(0, 0, 0, 0.28), 0px 9px 46px 8px rgba(0, 0, 0, 0.24) !important;
            box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.4), 0px 24px 38px 3px rgba(0, 0, 0, 0.28), 0px 9px 46px 8px rgba(0, 0, 0, 0.24) !important;
  }
  
  .modal-header {
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
  }
  
  .dark .modal-header {
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }
  
  .modal-header.modal-warning {
    background: #fbeeab;
    color: #8a6d3b;
  }
  
  .modal-header.modal-warning h3 {
    color: #8a6d3b !important;
  }
  
  .modal-header.modal-header-tabs {
    padding-bottom: 0;
  }
  
  .modal-header.modal-header-tabs .tabs {
    margin-top: 1rem;
  }
  
  .modal-header.modal-warning {
    background: #fbeeab;
    color: #8a6d3b;
  }
  
  .modal-header.modal-warning h3 {
    color: #8a6d3b;
  }
  
  .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    background: #e6e6e6;
    opacity: 0.6;
    cursor: pointer;
    color: #5e5e5e;
    z-index: 10;
  }
  
  .dark .modal-close {
    background: #4d4d4d;
    color: #e6e6e6;
  }
  
  .modal-close svg {
    height: 16px;
  }
  
  .modal-close:hover {
    opacity: 1;
  }
  
  .modal-body {
    padding: 1.5rem;
    overflow: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .modal-default-button {
    float: right;
  }
  
  .modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    border-top: 1px solid rgba(68, 68, 68, 0.2);
  }
  
  .dark .modal-footer {
    border-top-color: rgba(255, 255, 255, 0.1);
  }
  
  /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .modal-enter .modal-floating,
  .modal-leave-active .modal-floating {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .handle-br {
    right: 0 !important;
    bottom: 0 !important;
    border: none !important;
    background: transparent !important;
    border: none !important;
    width: 16px;
    height: 16px;
    position: relative;
  }
  
  .handle-br::after {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid red;
    -webkit-transform: rotate(-45deg) translate(4px, 7px);
            transform: rotate(-45deg) translate(4px, 7px);
  }
  
  .dark .ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail, .dark
  .ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail, .dark
  .ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail, .dark
  .ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail, .dark
  .ps:hover > .ps__scrollbar-x-rail:hover, .dark
  .ps:hover > .ps__scrollbar-y-rail:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .popper {
    width: auto;
    display: inline-block;
    position: absolute;
    font-weight: normal;
    z-index: 1000 !important;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 2px 0;
    border: 1px solid rgba(68, 68, 68, 0.2);
    background: white;
    pointer-events: all;
    text-transform: none;
    max-height: calc(100vh - 60px);
    overflow: auto;
    color: #5e5e5e;
  }
  
  .dark .popper {
    background: black;
    border-color: rgba(255, 255, 255, 0.2);
    color: #cccccc;
  }
  
  .popper span.material-design-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .popper span.text {
    display: block;
    padding: 4px 6px;
  }
  
  .popper span.text.text-title {
    text-transform: uppercase;
    font-size: .75rem;
    opacity: .6;
    padding: .5rem .7rem;
  }
  
  .popper svg {
    height: 16px;
  }
  
  .popper a {
    color: #444444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px 6px;
    text-align: left;
    -webkit-transition: 300ms all;
    transition: 300ms all;
    opacity: 0.6;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dark .popper a {
    color: white;
  }
  
  .popper a:hover {
    opacity: 1.0;
    background: rgba(68, 68, 68, 0.1);
  }
  
  .dark .popper a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .popper a.active {
    background: dodgerblue;
    color: white;
  }
  
  .popper.popper-menu {
    min-width: 100px;
  }
  
  .popper .popper__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
  }
  
  .popper[x-placement^="top-end"] {
    overflow: hidden;
    max-height: none;
  }
  
  .popper[x-placement^="top"] .popper__arrow {
    border-width: 5px 5px 0 5px;
    bottom: -6px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgba(68, 68, 68, 0.2) transparent transparent transparent;
  }
  
  .dark .popper[x-placement^="top"] .popper__arrow {
    border-color: rgba(255, 255, 255, 0.2) transparent transparent transparent;
  }
  
  .popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    top: -6px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
    border-color: transparent transparent rgba(68, 68, 68, 0.2) transparent;
  }
  
  .dark .popper[x-placement^="bottom"] .popper__arrow {
    border-color: transparent transparent rgba(255, 255, 255, 0.2) transparent;
  }
  
  .popper[x-placement^="right"] {
    margin-left: 5px;
  }
  
  .popper[x-placement^="right"] .popper__arrow {
    border-width: 5px 5px 5px 0;
    left: -6px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
    border-color: transparent rgba(68, 68, 68, 0.2) transparent transparent;
  }
  
  .dark .popper[x-placement^="right"] .popper__arrow {
    border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent;
  }
  
  .popper[x-placement^="left"] {
    margin-right: 5px;
  }
  
  .popper[x-placement^="left"] .popper__arrow {
    border-width: 5px 0 5px 5px;
    right: -6px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
    border-color: transparent transparent transparent rgba(68, 68, 68, 0.2);
  }
  
  .dark .popper[x-placement^="left"] .popper__arrow {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.2);
  }
  
  .form-label {
    margin-bottom: 0.5rem;
    display: block;
    font-weight: bold;
  }
  
  .form-control {
    color: #5e5e5e;
    background: white;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 2px;
    border: 1px solid rgba(68, 68, 68, 0.2);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    margin-bottom: 0.5rem;
  }
  
  .dark .form-control {
    border-color: rgba(255, 255, 255, 0.1);
    background: #262626;
    color: #e6e6e6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .form-control[type="color"] {
    padding: 0;
  }
  
  .form-checkbox {
    display: block;
    cursor: pointer;
  }
  
  .form-checkbox input {
    position: relative;
    top: 2px;
  }
  
  .form-addon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
    padding: 0 .5rem;
    background: #e6e6e6;
    white-space: nowrap;
  }
  
  .dark .form-addon {
    background: #333333;
  }
  
  @media (max-width: 768px) {
    #topbar .spacer {
      display: none;
    }
  }
  
  .toolbar {
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 4px;
    position: relative;
  }
  
  .toolbar .logo img {
    height: 16px;
    width: 74px;
  }
  
  .toolbar .logo .logo-lg {
    display: none;
  }
  
  @media (min-width: 480px) {
    .toolbar .logo .logo-lg {
      display: block;
    }
  }
  
  @media (min-width: 480px) {
    .toolbar .logo .logo-sm {
      display: none;
    }
  }
  
  .toolbar .button {
    margin: 0 1px;
  }
  
  .toolbar.toolbar-inline {
    padding: 0;
  }
  
  .toolbar.toolbar-main {
    height: 48px;
    padding: 0 8px;
  }
  
  .toolbar.toolbar-main .button {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .toolbar select,
  .toolbar input {
    padding: .25rem .5rem;
    margin-bottom: 0;
  }
  
  .workspaces .toolbar {
    height: 20px;
  }
  
  .workspaces .toolbar .logo img {
    height: 12px;
    width: 55px;
  }
  
  .workspaces .toolbar .button {
    height: 20px;
    padding: 0 1px;
    border-radius: 0;
  }
  
  .workspaces .toolbar .button svg {
    height: 12px;
  }
  
  .button {
    margin: 0;
    height: 24px;
    font-size: 11px;
    line-height: 1;
    padding: 0 4px;
    color: #444444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    -webkit-transition: 300ms all;
    transition: 300ms all;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    opacity: 0.6;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    cursor: pointer;
    background: white;
    position: relative;
  }
  
  .button svg {
    width: 16px;
  }
  
  .button.button-text {
    padding: 0 8px;
  }
  
  .button.button-icon span.material-design-icon {
    padding-right: 0px;
  }
  
  @media (min-width: 480px) {
    .button.button-icon span.material-design-icon {
      padding-right: 4px;
    }
  }
  
  .button.button-icon span.text {
    display: none;
  }
  
  @media (min-width: 480px) {
    .button.button-icon span.text {
      display: inline;
    }
  }
  
  @media (min-width: 480px) {
    .button.button-icon {
      padding: 0 8px;
    }
  }
  
  .button.button-icon-right {
    padding: 0 4px 0 8px;
  }
  
  .button.button-icon-right span.material-design-icon {
    padding-left: 4px;
  }
  
  .button.button-menu {
    padding-right: 0;
  }
  
  @media (min-width: 480px) {
    .button.button-menu .drop {
      display: inline;
    }
  }
  
  @media (min-width: 480px) {
    .button.button-menu .icon {
      display: none;
    }
  }
  
  .button.button-menu .text {
    display: none;
  }
  
  @media (min-width: 480px) {
    .button.button-menu .text {
      display: inline;
    }
  }
  
  .button.button-inline {
    display: inline-block;
    line-height: 24px;
  }
  
  .button.button-user .invites {
    position: absolute;
    z-index: 10;
    background: #d9534f;
    color: white;
    display: block;
    width: 16px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: -8px;
    top: -8px;
    font-size: 9px;
  }
  
  .button.button-disabled {
    opacity: 0.2;
    pointer-events: none;
  }
  
  .dark .button {
    background: #4d4d4d;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
    color: white;
  }
  
  .button:hover {
    opacity: 1.0;
    text-decoration: none;
    background: white;
  }
  
  .dark .button:hover {
    background: #4d4d4d;
  }
  
  .button-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 2px;
  }
  
  .button-group > .button {
    margin: 0px;
    border-radius: 0;
  }
  
  .button-group > .button:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  
  .button-group > .button:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .button-group span .button {
    margin: 0px;
    border-radius: 0;
  }
  
  .button-group span:first-child .button {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  
  .button-group span:last-child .button {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .dark .button.button-primary, .dark .button.button-success, .dark .button.button-warning, .dark .button.button-danger, .dark .button.button-ipp-secondary, .dark .button.button-ipp-primary,
  .button.button-primary,
  .button.button-success,
  .button.button-warning,
  .button.button-danger,
  .button.button-ipp-secondary,
  .button.button-ipp-primary {
    color: white !important;
    opacity: 0.6;
  }
  
  .dark .button.button-primary:hover, .dark .button.button-success:hover, .dark .button.button-warning:hover, .dark .button.button-danger:hover, .dark .button.button-ipp-secondary:hover, .dark .button.button-ipp-primary:hover,
  .button.button-primary:hover,
  .button.button-success:hover,
  .button.button-warning:hover,
  .button.button-danger:hover,
  .button.button-ipp-secondary:hover,
  .button.button-ipp-primary:hover {
    opacity: 1;
  }
  
  .dark .button.button-primary,
  .button.button-primary {
    background: dodgerblue !important;
  }
  
  .dark .button.button-success,
  .button.button-success {
    background: #5cb85c !important;
  }
  
  .dark .button.button-warning,
  .button.button-warning {
    background: #ec971f !important;
  }
  
  .dark .button.button-danger,
  .button.button-danger {
    background: #d9534f !important;
  }
  
  .dark .button.button-ipp-primary,
  .button.button-ipp-primary {
    background: #86269b !important;
  }
  
  .dark .button.button-ipp-secondary,
  .button.button-ipp-secondary {
    background: #ff9500 !important;
  }
  
  .dark .button.button-twitter,
  .button.button-twitter {
    background: #55acee !important;
  }
  
  .dark .button.button-facebook,
  .button.button-facebook {
    background: #46629e !important;
  }
  
  .dark .button.button-linkedin,
  .button.button-linkedin {
    background: #1e88bd !important;
  }
  
  .dark .button.button-email,
  .button.button-email {
    background: #e4a42e !important;
  }
  
  #finder-container {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 8px;
  }
  
  #finder-container #finder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 10;
    border-radius: 2px;
    display: flex;
    height: 32px;
    top: -16px;
    left: 0;
    right: 0;
    -webkit-transition: 300ms all;
    transition: 300ms all;
    border-radius: 16px;
    background: #f2f2f2;
    overflow: hidden;
  }
  
  .dark #finder-container #finder {
    background: #262626;
  }
  
  #finder-container #finder:hover {
    background: white;
  }
  
  .dark #finder-container #finder:hover {
    background: #333333;
  }
  
  #finder-container #find {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 32px;
  }
  
  #finder-container #find svg {
    height: 16px;
  }
  
  #finder-container #find input {
    outline: none;
    background: transparent;
    height: 2rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .dark #finder-container #find input {
    color: white;
  }
  
  #finder-container #find a.close-me {
    opacity: 0;
  }
  
  #finder-container #folders-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
  }
  
  #finder-container #folders {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #finder-container #folders .pages {
    background: #f7f7f7;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
  }
  
  .dark #finder-container #folders .pages {
    background: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  #finder-container #folders .domain,
  #finder-container #folders .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem .5rem;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 150ms all;
    transition: 150ms all;
    word-break: break-all;
  }
  
  #finder-container #folders .domain:hover,
  #finder-container #folders .page:hover {
    background: #e6e6e6;
  }
  
  .dark #finder-container #folders .domain:hover, .dark
  #finder-container #folders .page:hover {
    background: #4d4d4d;
  }
  
  #finder-container #folders .domain .icon,
  #finder-container #folders .page .icon {
    padding-right: 0.5rem;
  }
  
  #finder-container #folders .domain svg,
  #finder-container #folders .page svg {
    height: 16px;
  }
  
  #finder-container #folders .domain span.text,
  #finder-container #folders .page span.text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  #finder-container #folders .domain.active {
    border-top: 1px solid rgba(68, 68, 68, 0.2);
    background: #f7f7f7;
  }
  
  .dark #finder-container #folders .domain.active {
    border-color: rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.2);
  }
  
  #finder-container #folders .page {
    padding: .75rem 2rem;
  }
  
  #finder-container #folders .no {
    padding: 0.5rem 1.5rem;
  }
  
  #finder-container #folders .lists {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
  }
  
  #finder-container #folders .lists .tab-content {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
  }
  
  #finder-container.active #finder {
    background: white;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    height: calc(100vh - 16px);
    -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.14);
            box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.14);
  }
  
  .dark #finder-container.active #finder {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
    background: #333333;
    -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.4), 0 12px 17px 2px rgba(0, 0, 0, 0.28), 0 5px 22px 4px rgba(0, 0, 0, 0.24);
            box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.4), 0 12px 17px 2px rgba(0, 0, 0, 0.28), 0 5px 22px 4px rgba(0, 0, 0, 0.24);
  }
  
  #finder-container.active #finder a.close-me {
    opacity: 1;
  }
  
  #new {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
  }
  
  #new .message {
    text-align: center;
    padding: 40px;
  }
  
  #paste-box {
    color: transparent;
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid dodgerblue;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .dark #paste-box {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  #page {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 1;
  }
  
  #container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
  }
  
  #view {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
  }
  
  #view .selection {
    -webkit-box-shadow: inset 0 0 0 1px white, 0 0 0 1px #217346;
            box-shadow: inset 0 0 0 1px white, 0 0 0 1px #217346;
    border: 1px solid #217346;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    color: transparent;
  }
  
  #view .link {
    cursor: pointer;
  }
  
  #view .move {
    cursor: move;
  }
  
  #view .track {
    background: #212121;
  }

  #view .track.active {
    background: red;
  }
  
  #view .track .handle {
    background: gray;
    border-radius: 4px;
  }
  
  #view .overlay-link {
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
  }
  
  #view .image-link,
  #view .line-link {
    cursor: default;
  }
  
  #view .highlight-link div {
    opacity: 0;
    -webkit-transition: 1s all;
    transition: 1s all;
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 1px;
    bottom: 0px;
    left: 1px;
  }
  
  #view .highlight-link.flash div {
    opacity: 0.3;
  }
  
  #view .highlight-link.flash.done div {
    opacity: 0;
  }
  
  #view .highlight-link:hover div::after {
    display: block;
  }
  
  #view .line-link.line-col .inner-line {
    position: absolute;
    z-index: 10;
    right: 0px;
    width: 8px;
    bottom: -1px;
    cursor: col-resize;
    opacity: 0;
    background: dodgerblue;
    top: 0;
    -webkit-transition: 100ms all;
    transition: 100ms all;
  }
  
  #view .line-link.line-row .inner-line {
    position: absolute;
    z-index: 10;
    left: 0px;
    right: 0px;
    height: 8px;
    bottom: 0;
    cursor: row-resize;
    opacity: 0;
    background: dodgerblue;
    -webkit-transition: 100ms all;
    transition: 100ms all;
  }
  
  #view .line-link:hover .inner-line, #view .line-link.active .inner-line {
    opacity: 1;
  }
  
  #view .found-link div {
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 1px;
    bottom: 0px;
    left: 1px;
    background: rgba(30, 144, 255, 0.3);
    -webkit-box-shadow: inset 0 0 0 2px dodgerblue;
            box-shadow: inset 0 0 0 2px dodgerblue;
  }
  
  #view .button-link div {
    position: absolute;
    z-index: 10;
    left: 2px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    background: dodgerblue;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  #view .button-link:hover div {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  
  #view .history-link div {
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 1px;
    bottom: 0px;
    left: 1px;
    -webkit-box-shadow: inset 0 0 0 1px deeppink;
            box-shadow: inset 0 0 0 1px deeppink;
  }
  
  #view .history-link:hover div::after {
    content: '';
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 0px;
    background: deeppink;
    height: 20px;
    width: 20px;
    background-image: url("../../public/img/clock.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
  }
  
  #view .button-menu {
    border: 1px solid #cccccc;
    border-radius: 2px;
    background: white;
    min-width: 120px;
    z-index: 500;
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
  }
  
  #view .button-menu a {
    display: block;
    padding: 4px 6px;
    cursor: pointer;
    font-size: 11px;
  }
  
  #view .button-menu a:hover {
    background: #efefef;
  }
  
  #view .pdf-link {
    cursor: pointer;
    opacity: 0.05;
  }
  
  #view .pdf-link:hover {
    opacity: 0.2;
  }
  
  #view.denied {
    cursor: not-allowed;
  }
  
  .dark #view .track {
    background: transparent;
  }
  
  .dark #view .track .handle {
    background: gray;
  }
  
  .dark #view .button-menu {
    background: #424242;
    border-color: transparent;
  }
  
  .dark #view .button-menu a {
    color: white;
  }
  
  .dark #view .button-menu a:hover {
    background: rgba(255, 255, 255, 0.08);
  }
  
  #chat {
    position: absolute;
    left: 0px;
    bottom: 0;
    right: 0px;
    bottom: 0px;
    padding: 0px;
    display: none;
    z-index: 1;
    background: black;
  }
  
  #chat iframe {
    width: 100%;
  }
  
  #chat .relative {
    position: relative;
  }
  
  #chat .close {
    position: absolute;
    z-index: 400;
    right: 5px;
    top: 32px;
  }
  
  #chat .resize {
    position: absolute;
    z-index: 300;
    right: -5px;
    bottom: 0;
    top: 0;
    width: 10px;
    cursor: e-resize;
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }
  
  #chat .resize::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 5px;
    width: 2px;
    background: #00a4b1;
    opacity: 0;
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }
  
  #chat .resize:active::after, #chat .resize:hover::after {
    opacity: 1;
  }
  
  #chat.active iframe {
    visibility: hidden;
  }
  
  #page.chat-h #container {
    bottom: auto;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  
  #page.chat-h #chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
  }
  
  #page.chat-h #chat .resize {
    left: 0;
    right: 0;
    top: -5px;
    width: 100vw;
    height: 10px;
    cursor: n-resize;
  }
  
  #page.chat-h #chat .resize::after {
    left: 0;
    right: 0;
    bottom: 0;
    top: 5px;
    width: auto;
    height: 2px;
  }
  
  #page.chat-v #container {
    right: auto;
  }
  
  #page.chat-v #chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: auto;
    right: 0;
    top: 32px;
    bottom: 0;
  }
  
  #page.resizing iframe {
    visibility: hidden;
  }
  
  .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .tabs a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #5e5e5e;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: .5rem 1rem;
    cursor: pointer;
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }
  
  .dark .tabs a {
    color: #cccccc;
  }
  
  .tabs a.active {
    border-color: dodgerblue;
  }
  
  .autocomplete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #5e5e5e;
    border: 1px solid rgba(68, 68, 68, 0.2);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 2px;
    padding: 2px;
    position: relative;
  }
  
  .dark .autocomplete {
    border-color: rgba(255, 255, 255, 0.1);
    background: #262626;
    color: #e6e6e6;
  }
  
  .autocomplete .tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 0 4px 0 8px;
    background: #f2f2f2;
    margin: 1px;
    height: 24px;
  }
  
  .dark .autocomplete .tag {
    background: #333333;
  }
  
  .autocomplete .tag a {
    margin-left: 4px;
    cursor: pointer;
    color: #444444;
  }
  
  .dark .autocomplete .tag a {
    color: white;
  }
  
  .autocomplete .tag svg {
    width: 12px;
  }
  
  .autocomplete .tag.danger {
    color: white;
    background: #d9534f;
  }
  
  .autocomplete input {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 24px;
    margin: 1px;
    outline: none;
    padding: 0.5rem 0.75rem;
    background: transparent;
  }
  
  .autocomplete .pop {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
  }
  
  .autocomplete .add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .br-2 {
    border-radius: 2px;
  }
  
  .pa-0 {
    padding: 0rem;
  }
  
  .pa-1 {
    padding: 0.5rem;
  }
  
  .pa-2 {
    padding: 1rem;
  }
  
  .pa-3 {
    padding: 1rem;
  }
  
  .pl-1 {
    padding-left: 0.5rem;
  }
  
  .pl-2 {
    padding-left: 1rem;
  }
  
  .pl-3 {
    padding-left: 1rem;
  }
  
  .mt-0 {
    margin-top: 0;
  }
  
  .mt-1 {
    margin-top: .5rem;
  }
  
  .mt-2 {
    margin-top: 1rem;
  }
  
  .mt-3 {
    margin-top: 1.5rem;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .mb-1 {
    margin-bottom: .5rem;
  }
  
  .mb-2 {
    margin-bottom: 1rem;
  }
  
  .mb-3 {
    margin-bottom: 1.5rem;
  }
  
  .ml-1 {
    margin-left: .5rem;
  }
  
  .ml-2 {
    margin-left: 1rem;
  }
  
  .ml-3 {
    margin-left: 1.5rem;
  }
  
  .mr-1 {
    margin-right: .5rem;
  }
  
  .mr-2 {
    margin-right: 1rem;
  }
  
  .mr-3 {
    margin-right: 1.5rem;
  }
  
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .row {
    margin-left: -.5rem;
    margin-right: -.5rem;
  }
  
  .row .flex {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
  .align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .justify-content-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .flex {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .flex-2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  
  .flex-3 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  
  .flex-4 {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .divider {
    border-top: 1px solid rgba(68, 68, 68, 0.2);
  }
  
  .dark .divider {
    border-top-color: rgba(255, 255, 255, 0.1);
  }
  
  @media (max-width: 480px) {
    .hidden-xs {
      display: none !important;
    }
  }
  
  .bg-primary {
    background: dodgerblue;
    color: white;
  }
  
  .bg-primary h1,
  .bg-primary h2,
  .bg-primary h3,
  .bg-primary h4,
  .bg-primary h5,
  .bg-primary h6 {
    color: white;
  }
  
  .bg-primary label,
  .bg-primary p {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .bg-danger {
    background: #d9534f;
    color: white;
  }
  
  .bg-danger h1,
  .bg-danger h2,
  .bg-danger h3,
  .bg-danger h4,
  .bg-danger h5,
  .bg-danger h6 {
    color: white;
  }
  
  .bg-danger label,
  .bg-danger p {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .bg-success {
    background: #5cb85c;
    color: white;
  }
  
  .bg-success h1,
  .bg-success h2,
  .bg-success h3,
  .bg-success h4,
  .bg-success h5,
  .bg-success h6 {
    color: white;
  }
  
  .bg-success label,
  .bg-success p {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .bg-light {
    background-color: rgba(68, 68, 68, 0.05);
  }
  
  .dark .bg-light {
    background-color: rgba(255, 255, 255, 0.03);
  }
  
  .text-secondary {
    color: #ff9500;
  }
  
  .elevation-0 {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-1 {
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-2 {
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-3 {
    -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-4 {
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-5 {
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-6 {
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-7 {
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-8 {
    -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-9 {
    -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-10 {
    -webkit-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-11 {
    -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-12 {
    -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-13 {
    -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-14 {
    -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-15 {
    -webkit-box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-16 {
    -webkit-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-17 {
    -webkit-box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-18 {
    -webkit-box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-19 {
    -webkit-box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-20 {
    -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-21 {
    -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-22 {
    -webkit-box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-23 {
    -webkit-box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12) !important;
  }
  
  .elevation-24 {
    -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
  }
  
  .badge {
    display: inline-block;
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: 80%;
  }
  
  .badge.badge-error {
    color: white;
    background: #d9534f;
  }
  
  .condition-row select,
  .condition-row input {
    height: 2rem;
  }
  
  .condition-row .condition-row-button {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
  }
  
  .sticky-action {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    right: 0;
    height: 3rem;
    z-index: 10;
  }
  
  .sticky-action .sticky-content {
    position: absolute;
    z-index: 1;
    left: -1.5rem;
    bottom: -1.5rem;
    right: -1.5rem;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-top: 1px solid rgba(68, 68, 68, 0.2);
  }
  
  .dark .sticky-action .sticky-content {
    border-color: rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.8);
  }
  
  .update-actions {
    padding: 1rem;
    border-radius: 2px;
    background: #f2f2f2;
  }
  
  .dark .update-actions {
    background: black;
  }
  
  .history .date-group {
    padding: .5rem 1rem;
    background: #f2f2f2;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
  }
  
  .dark .history .date-group {
    background: #262626;
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .history .version-group {
    position: relative;
  }
  
  .history .version-group .toggle {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 2rem;
    bottom: 1px;
    cursor: pointer;
    text-align: center;
    padding-top: .5rem;
    background: #fafafa;
    border-right: 1px solid rgba(68, 68, 68, 0.2);
  }
  
  .dark .history .version-group .toggle {
    background: #1a1a1a;
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .history .version-group .toggle svg {
    height: 16px;
  }
  
  .history .versions {
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
  }
  
  .history .versions .version {
    -webkit-transition: 300ms all;
    transition: 300ms all;
    padding: .5rem 1rem .5rem 4rem;
    cursor: pointer;
    display: none;
  }
  
  .history .versions .version:first-child, .history .versions .version.show {
    display: block;
  }
  
  .history .versions .version.selected {
    background: rgba(30, 144, 255, 0.1);
  }
  
  .history .versions .version:first-child {
    padding-left: 3rem;
  }
  
  .history .versions .version:hover {
    background: #f2f2f2;
  }
  
  .dark .history .versions .version:hover {
    background: #262626;
  }
  
  .history .versions .version .name {
    padding-top: .25rem;
    opacity: 0.6;
  }
  
  .dark .history .versions {
    border-color: rgba(255, 255, 255, 0.1);
  }
  /*# sourceMappingURL=app.css.map */