body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 30px;
}
pre{
    padding: 16px;
    overflow: auto;
    background-color: #f6f8fa;
    border-radius: 3px;
}

